* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --ff-bodytext: 'Palanquin', sans-serif;
  --ff-texting: 'Open Sans', sans-serif;

  --hue: 100;
  --bg-primary: hsl(233, 100%, 97%);
  --bg-secondary: hsl(218, 17%, 62%);
  --bg-title: hsl(275, 18%, 79%);
  --bg-cards: hsl(312, 91%, 96%);

  --fc-primary: hsl(var(--hue), 17%, 35%);
  --fc-secondary: hsl(var(--hue), 0%, 100%);
  --fc-text: hsl(var(--hue), 84%, 12%);
  --fc-hover: hsl(230, 89%, 28%);

  font-size: 62.5%;
  --fs-body: 1.6rem;
}

body {
  font-family: var(--ff-bodytext);
  font-size: var(--fs-body);
  background: var(--bg-primary);
  height: 100vh;
}

header {
  background: var(--bg-secondary);
  display: grid;
  place-items: center;
}

#logo-mobile {
  padding: 3.2rem 0;
}

#logo-desktop {
  display: none;
}

.title {
  background: var(--bg-title);
  margin-bottom: 2.9rem;
  padding: 0.8rem;
  width: 100%;
  text-align: center;
}

h1,
span {
  font-size: 4rem;
  color: var(--fc-secondary);
  font-weight: 400;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.intro-desktop {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.8rem 3.2rem 6rem;
}

.text {
  text-align: center;
  padding: 0 3.2rem;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: var(--fc-text);
}

.cards {
  display: grid;
  gap: 3.2rem;
  margin-top: 5rem;
}

.cards .card {
  position: relative;
  height: fit-content;
  overflow: hidden;
  border-radius: 2rem;
}

.card {
  animation: FadeInTop 700ms 175ms backwards;
}

@keyframes FadeInTop {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cards .card img {
  width: 100%;
  border-radius: 2rem;
  transition: all 400ms;
}

.card img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.cards .card span {
  font-size: 2rem;
  color: var(--fc-primary);
  background: var(--bg-cards);
  width: 11.2rem;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 2rem;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  animation: FadeInBottom 700ms 175ms backwards;
}

@keyframes FadeInBottom {
  from {
    opacity: 0;
    transform: translateY(-2.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cards .card:nth-child(1) {
  animation-delay: 200ms;
}

.cards .card:nth-child(2) {
  animation-delay: 300ms;
}

.cards .card:nth-child(3) {
  animation-delay: 400ms;
}

.cards .card:nth-child(4) {
  animation-delay: 500ms;
}

.cards .card:nth-child(5) {
  animation-delay: 600ms;
}

.cards .card:nth-child(6) {
  animation-delay: 700ms;
}

footer {
  display: none;
}

@media (min-width: 900px) {
  .container {
    display: grid;
  }
  header {
    width: 37.7rem;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    animation: SlideIn 700ms 350ms backwards;
  }
  .title {
    margin-bottom: 3.2rem;
  }
  .intro-desktop {
    display: block;
    font-size: 1.8rem;
    line-height: 1.5rem;
    width: 28rem;
    text-align: center;
    color: var(--fc-secondary);
  }
  .text {
    display: none;
  }
  .cards {
    margin-left: 37.7rem;
    grid-template-areas:
      'A B'
      'C B'
      'C D'
      'E F';
  }
  .cards .card:nth-child(1) {
    grid-area: A;
  }
  .cards .card:nth-child(2) {
    grid-area: B;
  }
  .cards .card:nth-child(3) {
    grid-area: D;
  }
  .cards .card:nth-child(4) {
    grid-area: C;
  }
  .cards .card:nth-child(5) {
    grid-area: E;
  }
  .cards .card:nth-child(6) {
    grid-area: F;
  }
  #logo-mobile {
    display: none;
  }
  #logo-desktop {
    display: block;
    padding: 3.2rem 0;
    animation: LogoRotate 10s 2s infinite;
  }
  footer {
    padding-bottom: 5rem;
    margin-left: 37.7rem;
    display: block;
    text-align: center;
  }
  footer p {
    font-size: 1.4rem;
    font-family: var(--ff-texting);
    line-height: 2.8rem;
    color: var(--fc-primary);
  }
  footer p a {
    font-weight: 700;
    text-decoration: none;
    color: var(--fc-primary);
  }
  footer p a:hover {
    color: var(--fc-hover);
  }
}

@keyframes SlideIn {
  from {
    opacity: 0;
    transform: translateX(-38rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes LogoRotate {
  from {
    transform: rotateY(360deg);
  }
}

@media (min-width: 1280px) {
  .cards {
    grid-template-areas:
      'A B C'
      'D B E'
      'D F E';
  }
  .cards .card:nth-child(1) {
    grid-area: A;
  }
  .cards .card:nth-child(2) {
    grid-area: B;
  }
  .cards .card:nth-child(3) {
    grid-area: C;
  }
  .cards .card:nth-child(4) {
    grid-area: D;
  }
  .cards .card:nth-child(5) {
    grid-area: F;
  }
  .cards .card:nth-child(6) {
    grid-area: E;
  }
}
